html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  touch-action: none;
}

html,
body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #111;
  color: #ddd;
}

body {
  display: grid;
  justify-content: center;
  align-content: center;
}

* {
  box-sizing: border-box;
}

#toolbar {
  user-select: none;
}

#thumbnails {
  width: 1200px;
  overflow-x: scroll;
  padding-bottom: 10px;
}

#thumbnails::-webkit-scrollbar {
  height: 40px;
}

#thumbnails::-webkit-scrollbar-track {
  border-radius: 3px;
  border: 1px solid #333;
  background: #000;
}

#thumbnails::-webkit-scrollbar-thumb {
  border-radius: 3px;
  border: 1px solid #059;
  background: #135;
}

#root {
  display: none;
  gap: 10px;
}

#canvas {
  border: 1px solid #333;
  touch-action: none;
  border-radius: 3px;
}

.button {
  border: 1px solid #059;
  outline: none;
  background: #135;
  color: inherit;
  cursor: pointer;
  padding: 1em;
  touch-action: none;
  border-radius: 3px;
}

.button:active,
#thumbnails::-webkit-scrollbar-thumb:active {
  background: #059;
}

.button.recorder.active {
  background-color: #703;
}

.button.animator.active {
  background-color: #042;
}

.button.shadow.active {
  background-color: #059;
}

#thumbnails {
  display: grid;
  grid-auto-flow: column;
  gap: 0.5em;
  justify-content: left;
}

.thumbnail {
  width: 122px;
  background: #000;
  color: inherit;
  border: 1px solid #333;
  outline: none;
  border-radius: 3px;
}

.thumbnail.current {
  border-color: #059;
  background-color: #1357;
}

fieldset {
  display: inline-grid;
  grid-auto-flow: column;
  gap: 0.5em;
  border: 1px solid #333;
  border-radius: 3px;
}

label {
  display: inline-grid;
  justify-items: center;
}